<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463487556848-mv7673chagpd8u6e4ijt8021i4rvjpit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463487556848-mv7673chagpd8u6e4ijt8021i4rvjpit</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>463487556848-5b169k46hd84covqi0oa9q0pk62tbp7d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1V6Fst9LtJCOWZhdJ6v1jcV8AUIB_g0A</string>
	<key>GCM_SENDER_ID</key>
	<string>463487556848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.akwad.apps.jasoos</string>
	<key>PROJECT_ID</key>
	<string>jassos</string>
	<key>STORAGE_BUCKET</key>
	<string>jassos.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463487556848:ios:fddcfb640ea217e7513635</string>
</dict>
</plist>